<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VDS_New.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <VDS_New.Properties.Settings>
            <setting name="SELF_RADIUS" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DETECTOR_RADIUS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AFF_SCALE" serializeAs="String">
                <value>1E-35</value>
            </setting>
            <setting name="CHOOSEN_COEFF" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="CLONAL_COEFF" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WEIGHTS" serializeAs="String">
                <value>0.5,0.5, 0.5, 0.5, 0.5, 0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5</value>
            </setting>
            <setting name="VIRUS_CODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BENIGN_CODE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BASIC_FEATURES" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="DLLS_MUTATION" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="STRATEGY_PARAS" serializeAs="String">
                <value>0.3,0.3, 0.3, 0.3, 0.3, 0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3</value>
            </setting>
            <setting name="INPUT_TXT_PATH" serializeAs="String">
                <value>.\Input.txt</value>
            </setting>
            <setting name="TIME_LOOP" serializeAs="String">
                <value>1</value>
            </setting>
        </VDS_New.Properties.Settings>
    </userSettings>
</configuration>
